# dependencies
node_modules/

# build output
dist/
*.tsbuildinfo

# environment
.env
.env.*.local

# logs
*.log
logs.txt

# coverage
coverage/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# temp files
tmp/
temp/
*.tmp

# misc
.codegpt
.cursor